/* 
** DH2010 Print style sheet

*/

body {font-family:"Georgia", Times New Roman, Serif; color:#000; background: #fff; }




#ns, .nvl {display: none; }
#bs .gx1 , #bs .gx2 {display: none }

#cs {float: none !important; width: auto; border: 0 none; padding: 0;}


/* headings */

#cs h1 {font-weight: 700; margin:0; }
.hdp h1 {padding: 15px 0 5px 0;}

.ct h4.g1 {display: none}

#hs h3, #hs h4 {font-weight: bold; text-align: center; font-family: Arial, Helvetica}
#hs h4 {margin: 5px 0 15px 0;}
	
/* links */
	
a:link, a:visited {color: #000;text-decoration: underline; font-size: 80%; font-family: Arial, Helvetica;}
#cs a:link:after,#cs a:visited:after {content: " ("attr(href)") ";}


#cs .ct .m1 li {font-weight: bold; padding: 15px 0 0 0;}
#cs .ct .m1 li ul li {font-weight: normal; font-style: italic; margin: 0 0 5px 0;}


#cs .ct .m1 li a.g2 {display: none;}