.c{position:relative}
/*.c{_position:static}*/
.cg .c{float:right;width:16.923em}
.cg .m{float:left;margin-right:-16.923em}
.cg .m .c{margin-right:16.923em}
.cg .m .c{float:none;width:auto}

/*
#fs .c{float:left;width:16.923em}
#fs .m{float:right;margin-left:-16.923em}
#fs .m .c{margin-left:16.923em}
#fs .m .c{float:none;width:auto}
*/
.m{width:100%}
#cs{overflow:hidden}
#cs .c2{width:16.923em}

#gw {width: 960px;margin:0 auto}
	
#bs {background:url(../i/bs.png) 0 0 repeat-y;position:relative;height:140px;}

#hs {background:#fff;padding-top: 60px;position:relative}
#hs h3 {
	background: url(../i/hs.h3.png);
	width:307px;
	height:23px;
	text-indent:-5000px;
	margin-bottom:-1px;
	position:absolute;
	top:38px;
	z-index:4;
	left: 58px;
}
#bs h3 {
	background: url(../i/bs.h3.png);
	width:152px;
	height:27px;
	text-indent:-5000px;
	position:absolute;
	left:102px;
	top:7px;
	z-index:3
}
#bs h4 {
	background: url(../i/bs.h4.png);
	width:295px;
	height:18px;
	text-indent:-5000px;
	position:absolute;
	left:662px;
	top:119px;
	z-index:3
}
#bs .gx {height:140px;position:absolute;top:0px;text-indent:-5000px;}
#bs .gx1 {background: url(../i/bs.gx1.jpg); width:174px;left:0px;}
#bs .gx2 {background: url(../i/bs.gx2.jpg); width:640px;right:0px;}

body {background:#09203a url(../i/body.png);font:13px/1.231 arial,helvetica,clean,sans-serif;}


#cs {background:#fff url(../i/cs.png) 740px 20px no-repeat;min-height:408px;padding:0 0 30px 0}
#ns {overflow:hidden;background:#fbfbfc url(../i/ns.png) 0 100% repeat-x;border-bottom:2px solid #e6e8f1}

#ss {overflow:hidden;padding:15px}
#cs .ct {padding: 0 15px}

#fs {background: #243958 url(../i/fs.png) 0 0 repeat-x; min-height: 100px; margin-bottom:40px;overflow:hidden}
#fs p {color:#929cac;font-size: 93%; line-height:1.75em;}
#fs p a {color:#929cac;border-bottom:1px solid #455771;}
#fs p a:hover {border-bottom:1px solid #929cac;color:#fff;}
#fs h5 a{text-indent: -5000px; background: url(../i/fs.h5.a.png) 0 0 no-repeat;width:80px;height:52px; margin: 20px auto;display:block}
#fs h5 a:hover { background-image: url(../i/fs.h5.a.h.png)}
#cs  .c1 { padding: 20px 10px 30px 30px}

#fs .c1 {padding: 15px 30px}
#fs .c2{width:16.923em}



.nvg {margin:0 0 0 40px}
.nvg li,.nvg a {float:left}
.nvg a{padding:9px 8px;font-size:100%;color:#155976;}
.nvg a:hover {background: #e6e8f1 url(../i/nvg.a.h.png) 50% 0 no-repeat;}
.nvg a:hover,.nvg .s1,.nvg .s2,.nvg .s3{color:#09203a;font-weight:bold}
.nvg .s1 a,.nvg .s2 a,.nvg .s3 a {background: url(../i/nvg.s1.a.png) 50% 0 no-repeat;font-weight:bold;color:#09203a;}

.nvl {margin: 3.846em 1.153em}
.nvl h5 {text-transform:uppercase;font-size:100%;font-weight:bold;color:#5f7e97;padding:0.461em 0.76em}
.nvl ul {border-bottom:1px dotted #dce1e7;float:left}
.nvl li {border-top:1px dotted #dce1e7;float:left;width: 14.615em;}
.nvl a {padding:0.461em 0.76em;float:left;width: 13.076em;color:#39576f;} /* If no 'b' in place, formula here is width in pixels / 13 / {font-size percentage} * 100.  B here allows the links to have a border underline which doesn't describe the bottom edge of the 'a' incl its padding */
.nvl a:hover, .nvl a.s1{background: #eaedf0;color:#09203a;}
.nvl a.s1 {font-weight:bold;}
.nvl b,.nvl .s3 li b {color:#777;border:0px none;font-size:93%;} /* doesn't seem to be any point floating the 'b' unless it needs precise line-spacing or vertical padding, margin */
.nvl b{font-weight:bold;display:inline;}
.nvl a:hover b,.nvl .s1 b,.nvl .s2 b,.nvl .s3 b,.nvl .s3 li a:hover b {color:#7c9617;}
.nvl a:hover b,.nvl .s1 b,.nvl .s2 b,.nvl .s3 li a:hover b{border-bottom:1px dotted #7c9617}
.nvl ul ul{padding: 0 ;}
.nvl ul ul,.nvl li li {border:0px none;}
.nvl li li a {padding:0.461em 0.76em 0.461em 1.538em;width: 12.307em;background:url(../i/_a1.png) 0.923em 0.85em no-repeat}
.nvl li li a:hover, .nvl li li a.s1{background: url(../i/_a1.png) 0.923em 0.85em no-repeat; color:#09203a; }
 .nvl li li a.s1 {font-weight:bold}
.nvl li li b{font-weight:normal}



#cs .g {background: #f2f3f8; overflow:hidden; margin-top: 20px;}
#cs .g .u {width: 23.076em; padding: 1.153em; float: left }

#cs .g .u1 a {border: 0px none;}
#cs .g .u1 a:hover img {border: 2px solid #55749c;}
#cs .g .u1 img {border: 2px solid #e6e8f1;font-size:0;line-height:0;padding: 2px}
#cs .g .u h3 {border-bottom:2px solid #e6e8f1;color: #09203a;font-size:138.5%;padding:0 0 0.153em 3px;margin-bottom: 3px;letter-spacing: -0.04em; font-weight: bold}

#cs .c1 a {border-bottom: 1px solid #e6e8f1; color:#55749c;}
#cs .c1 a:hover {border-bottom: 1px solid #55749c; color:#09203a;}

.table .t01  {padding: 3px 2px 2px 2px; border: 1px solid #eaeff8;}
.table .t01 table {width: 100%}
.table .t01 td em {}
.table .t01 td {line-height: 1.75em; padding: 1px 10px}
.table .t01 tr.z01 td {background: #f2f5f9;  border-top: 1px solid #eaeff8; border-bottom: 1px solid #eaeff8;}

.table th {background:#39576f;color:#fff;padding: 1px 6px}
.table td {line-height: 1.75em; padding: 1px 6px;border-right: 1px solid #eaeff8;}


.galleria{list-style:none;width:670px; 	}
#cs .ct .galleria li{display:block;width:60px;height:60px;overflow:hidden;float:left;margin:0 6px 6px 0; background: none; padding:0;	}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria .galleria_replaced {float:left}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */
ul.gallery {display:block;margin-top:15px}
div.img {overflow:hidden}
div.galleria_wrapper {margin-top:10px; height:360px; width: 670px; }
div.galleria_wrapper img {margin: 0 auto;display:block}

#cs .lg  {margin: 20px 0 0 0}
#cs .lg li {float: left;padding:0;background:none}
.lg a{text-indent: -5000px; background: url(../i/_s1.png) 0 0 no-repeat;float: left;padding:0;}
#cs .c1 .lg a,#cs .c1 .lg a:hover {border:0px none}
.lg .i1 a{width: 118px; height: 92px; background-position: 0px -189px;}
.lg .i2 a{width: 132px; height: 92px; background-position: -118px -189px;}
.lg .i3 a{width: 229px; height: 92px;background-position: -250px -189px;}
.lg .i4 a{width: 122px; height: 92px;background-position: -479px -189px;}
.lg .i5 a{width: 92px; height: 97px;margin-left: 54px;background-position: -56px -281px;}
.lg .i6 a{width: 188px; height: 97px;margin-left:10px;background-position: -158px -281px;}
.lg .ix a{width: 193px; height: 97px;background-position: -356px -281px;}

.lg .i1 a:hover{width: 118px; height: 92px; background-position: 0 0; }
.lg .i2 a:hover{width: 132px; height: 92px; background-position: -118px 0;}
.lg .i3 a:hover{width: 229px; height: 92px;background-position: -250px 0;}
.lg .i4 a:hover{width: 122px; height: 92px;background-position: -479px 0;}
.lg .i5 a:hover{width: 92px; height: 97px;margin-left: 54px;background-position: -56px -92px;}
.lg .i6 a:hover{width: 188px; height: 97px;margin-left:10px;background-position: -158px -92px;}
.lg .ix a:hover{width: 193px; height: 97px;background-position: -356px -92px;}

/*
Image Blocks
*/

.ct .imb dl,.ct .imb dd,.ct .imb dt {margin:0;padding:0;line-height:1}
.imb.m1 dl {float:left;margin:0 10px 10px 0;position:relative}
.imb.m1 dl dd{bottom:3px;color:#fff;font-size:85%;font-weight:bold;left:3px;line-height:1.5em;padding:5px 10px;position:absolute;right:3px}
.imb.m1 dl dt{float:none;font-size:0px;line-height:normal;margin:0;width:auto}
.imb.m1 dl dt a{border:2px solid #e5edee;float:left}
.imb.m1 dl dt a:hover{border:2px solid #b2c1c3}
/*

#cs .im1 dl{border:0;float:right;margin:0 0 10px 10px;position:relative}
#cs .im1 dl dd{background:url(../i/../i/imDd.png);border:0;bottom:3px;color:#fff;font-size:60%;font-weight:bold;left:3px;line-height:1.5em;padding:5px 10px;position:absolute;right:3px}
#cs .im1 dl dt{float:none;font-size:0px;line-height:normal;margin:0;width:auto}
#cs .im1 dl dt a{border:2px solid #e5edee;float:left}
#cs .im1 dl dt a:hover{border:2px solid #b2c1c3}
#cs .im1 dl dt img{margin:1px}

*/

/* 
Page Heading
*/

.hdp {margin: 0 15px;}
.hdp h1 {border-bottom:2px solid #e6e8f1;color: #09203a;font-size:189%;padding:0 0 0.153em 3px;letter-spacing: -0.04em; font-weight: bold}


/*
Standard Page Content
*/

.ct p {color: #333; line-height:1.75em;font-size:93%;margin: 0 0 0.76em 0}

/* 
Anchor Types
.t1		Internal Link
.t2		External Link
.t3		Internal Link, new window
.t4		External Link, new window
.t5		Email Address
.t6		File Download
.t7		Popup Image (binds with JQ)
.t8		Popup HTML Document (binds with JQ)

Anchor States
:hover
:visited
:link
:active
.s5		Disabled Link

*/

.ct a.t1 i,
.ct a.t2 i,
.ct a.t3 i,
.ct a.t4 i,
.ct a.t5 i,
.ct a.t6 i,
.ct a.t7 i,
.ct a.t8 i {position:absolute; text-indent:-9999px; }

/* TODO - change the following to em */
.ct a.t1 {margin:0 10px 0 0}
.ct a.t2 {margin:0 11px 0 0}
.ct a.t3 {margin:0 15px 0 0}
.ct a.t4 {margin:0 15px 0 0}
.ct a.t5 {}
.ct a.t6 {margin:0 14px 0 0}
.ct a.t7 {}
.ct a.t8 {}

.ct a.t6[type] {margin: 0 19px 0 0}
.ct a.t6[type] i {width:16px;height:16px;margin:0.25em 0 0 0.2em}

.ct a.t6[type="image/tiff"] i,.ct a.t6[type="image/tiff"]:hover i,
.ct a.t6[type="image/jpeg"] i,.ct a.t6[type="image/jpeg"]:hover i,
.ct a.t6[type="image/png"] i,.ct a.t6[type="image/png"]:hover i {background:url(../i/_a7.png)}
.ct a.t6[type="application/msexcel"] i,.ct a.t6[type="application/msexcel"]:hover i {background:url(../i/_a11.png)}
.ct a.t6[type="application/mspowerpoint"] i,.ct a.t6[type="application/mspowerpoint"]:hover i {background:url(../i/_a9.png)}
.ct a.t6[type="application/msword"] i,.ct a.t6[type="application/msword"]:hover i {background:url(../i/_a10.png)}
.ct a.t6[type="audio/x-mpeg"] i,.ct a.t6[type="audio/x-mpeg"]:hover i{background:url(../i/_a6.png)}
.ct a.t6[type="application/zip"] i,.ct a.t6[type="application/zip"]:hover i {background:url(../i/_a6.png)}
.ct a.t6[type="application/pdf"] i,.ct a.t6[type="application/pdf"]:hover i {background:url(../i/_a5.png)}



.ct a.t1 i {background:url(../i/a.t1.png);width:7px;height:5px;margin:0.76em 0 0 0.2em}
.ct a.t1:hover i {background:url(../i/a.t1.h.png);}
.ct a.t2 i {background:url(../i/a.t2.png);width:8px;height:7px;margin:0.76em 0 0 0.2em}
.ct a.t2:hover i {background:url(../i/a.t2.h.png);}
.ct a.t3 i {background:url(../i/a.t3.png);width:12px;height:10px;margin:0.55em 0 0 0.2em}
.ct a.t3:hover i {background:url(../i/a.t3.h.png);}
.ct a.t4 i {background:url(../i/a.t4.png);width:12px;height:10px;margin:0.55em 0 0 0.2em}
.ct a.t4:hover i {background:url(../i/a.t4.h.png);}
.ct a.t5 i {}
.ct a.t6 i {background:url(../i/a.t6.png);width:11px;height:10px;margin:0.55em 0 0 0.2em}
.ct a.t6:hover i {background:url(../i/a.t6.h.png);}
.ct a.t7 i {}
.ct a.t8 i {}


.ct a {color: #655a4f;border-bottom:1px solid #e8e3df;}
.ct a:hover {color: #3d281a;border-bottom:1px solid #655a4f;}

.ct ul,.ct ol,.ct dl {margin:0 0 0.76em 0}
.ct ul ul,.ct ol ol,.ct ol ul,.ct ul ol,.ct ul dl,.ct ol dl,.ct dl ul,.ct dl ol,.ct dl dl {margin:0;}
.ct ul li,.ct ol ul li {color: #333; line-height:1.75em;font-size:93%;padding:0 0 0 2.307em; background:url(../i/_a1.png) 15px 0.75em no-repeat;list-style:none;margin:0}
.ct ol li,.ct ul ol li {color: #333; line-height:1.75em;font-size:93%;margin:0 0 0 2.307em;list-style:decimal;padding:0}
.ct dl dt {font-weight:bold;color: #333; line-height:1.75em;font-size:93%;}
.ct dl dd {color: #333; line-height:1.75em;font-size:93%;margin:0 0 0.76em 2.307em;}
.ct ul li li,.ct ol li li,.ct dd dd,.ct li dd, .ct dd li {font-size:100%}

.ct dl.m1 {border-top:1px solid #e8e3df}
.ct dl.m1 dt {float:left;width:14.615em;clear:left;position:relative}
.ct dl.m1 dd {margin:0; padding: 0 0 0.76em 16.538em; border-bottom: 1px solid #e8e3df;}
.ct dl.m1 dd:after{content:".";display:block;height:0;visibility:hidden;clear:left;display:block;}

/* IE6 / 7 
#mainFrame .dlt .t01 dd			{ border-top: 1px solid #e8e3df;display:block; zoom:0;}	
*/


.ct h2 {} /* do not use if a page has a subtitle */
.ct h3 {}
.ct h4 {}
.ct h5 {}
.ct h6 {}


/*
Numbered Paragraphs 
*/
.ct p.m1 {padding: 0 0 0 2.307em; position:relative}
.ct p.m1 dfn {position:absolute;left:0;line-height:1.95em;color:#777;font-size:77%;font-weight:bold}


/*
09203a
155976
243958
455771
5f7e97
929cac
e6e8f1
eaedf0
*/

.nvz{overflow:hidden; padding:0.384em 0 0 0}
.c1 .nvz .s1{background:#455771;color:#fff}
.c1 .nvz .s5{background:#fff;color:#999;cursor:not-allowed}
.c1 .nvz .s5,.c1 .nvz .s1,.c1 .nvz a{padding:1px 4px 0}
.c1 .nvz a:hover{background:#929cac;border:0 none !important;color:#4b1e74}
.c1 .nvz li{background:#eaedf0;font-size:93%;margin:0 5px 0 0;padding:0}
.c1 .nvz li,.c1 .nvz a{border:0 none;color:#666;float:left;line-height:1.55em}

.nvi {background:#f8f9fb;border:1px solid #e6e8f1;padding:.384em}

#cs sup {vertical-align: super; font-size:93%; font-weight:bold}
#cs a.back {margin: 0 0 0 10px; padding: 0 0 0 12px; background:url(../i/a.t2.h.png) 0 .35em no-repeat }
#cs ul.nvi li {padding: 0 0 0 12px; background:url(../i/a.t1.png) 0 0.75em no-repeat }

.c1 ul.m0 > li {font-weight:bold !important; background:none;padding:0;margin:0;overflow:hidden}
.c1 ul.m0 > li li {font-weight:normal}

.c1 ul.m1 > li {font-weight:bold !important; background:none;padding:0;margin:0 }
.c1 ul.m1 > li li {font-weight:normal}
.c1 ul.m1 > li.s6 ul {display: none}
.c1 ul.m1 {clear:both}


#cs h4.g1  { background: url(../i/h4.g1.png) 5px 100% no-repeat;padding: 0 0 7px 0;float:left;margin:.8em 0 .5em 0}
h4.g1 a {color:#5f7e97; background:#eaedf0 url(../i/exp_off.png) 6px 0.42em no-repeat;border:1px solid #929cac !important;float:left; padding: 5px 4px 5px 21px;font-weight:bold;font-size:93%}		 
h4.g1 a:hover {background:#929cac url(../i/exp_on.png) 6px 0.42em no-repeat;}		 
h4.g1 a.s7 {background:#eaedf0 url(../i/con_off.png) 6px 0.42em no-repeat;}
h4.g1 a:hover.s7 {background:#929cac url(../i/con_on.png) 6px 0.42em no-repeat;}

.c1 ul.m1 a.g2 {padding: 4px 0 0 13px; border:0px none !important;cursor: pointer;background: url(../i/exp_off.png) 1px 0.3em no-repeat;text-indent:-5000px;float:left; margin: 1px 3px 0 6px}
.c1 ul.m1 li.s6 a.g2:hover {background-image: url(../i/exp_on.png);}
.c1 ul.m1 li.s7 a.g2{background-image: url(../i/con_off.png);}
.c1 ul.m1 li.s7 a.g2:hover{background-image: url(../i/con_on.png);}

#cs p.m0 {padding: .3em .3em .5em .3em; background: #eaedf0;}

.hdp p {line-height: 1.65em }
.hdp div {border: 2px solid #eaedf0; margin-bottom: .8em; padding: .4em}
    
#cs h2 {font-size: 123.1%; color:#243958; font-weight:bold; margin: 1.8em 0 .8em 0}
#cs h3 {font-size: 108%; color:#155976; font-weight:bold; margin: 1.1em 0 .5em 0}
#cs h4 {color:#5f7e97; font-size:93%; margin: 1.2em 0 .4em 0; line-height: 1.55em }
#cs h5 {color:#929cac; font-size:93%; margin: 1.2em 0 .4em 0; line-height: 1.55em }

.footnotes dt {float:left; color:#243958;}
    
.figure .t01 {float:right; margin: 0.3em .8em 0.3em 0}
.figure .t01 a {border: 0px none !important;  }
.figure .t01 dd {font-size:85%; }
#cs .figure .t01 dd {margin:0 0 0 .5em;}
.figure .t02 {margin: 1em auto; overflow: hidden; border-top: 2px solid #eaedf0; border-bottom: 2px solid #eaedf0; padding-top:.8em }
.figure dl {float:left; margin:0}
.figure .t02 a {border: 0px none !important;  }
.figure .t02 dd {font-size:85%; margin:0 0 0 .5em;}
    
.figure .t03 {margin: 1em auto; overflow: hidden; border-top: 2px solid #eaedf0; border-bottom: 2px solid #eaedf0; padding-top:.8em }
.figure .t03 ul {overflow:hidden !important; margin: 0 0 .8em 0}
.figure .t03 h3 {text-align:center; font-size:85%; font-weight: normal; margin: 0 0 .8em 0}
.figure .t03 li  {float:left; margin:0 1em 0 0; background: none; padding: 0; }
.figure .t03 a {border: 0px none !important;  }    

#cs blockquote {margin: 0 3em; }
#cs pre {border-bottom: 2px solid #eaedf0;border-top: 2px solid #eaedf0; width:659px !important; overflow:scroll; padding: .8em 0}
#cs p.m1 {text-align:center} 

.table .t01 {position:relative;margin-bottom:2.6em}
caption {font-weight:700;padding:.6em 0;text-align:center;font-size:93%; color:#155976;}

/*

TODO
font-size
10 	 77
11 	85
12 	93 (was 93)
13 	100
14 	108 (was 107)
15 	116 (was 114)
16 	123.1 (was 122)
17 	131 (was 129)
18 	138.5 (was 136)
19 	146.5 (was 144)
20 	153.9 (was 152)
21 	161.6 (was 159)
22 	167
23 	174
24 	182
25 	189
26 	197 
*/
